
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.titulo{
    text-align: center;
    font-size: 2rem;
    color: #4f6f52;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}



.nosotros{
    padding: 80px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros-contenido{
    max-width: 900px;
    background: rgba(255, 174, 174, 0.8);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border: 2px solid #ffe0bc;
}

.nosotros-contenido::before{
    content: " Nosotros ";
    display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #b56b8a;
    margin-bottom: 25px;
}

.nosotros-contenido p{
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.05rem;
}

.nosotros-contenido p:first-child{
    font-weight: 500;
}

.nosotros-contenido:hover{
    transform: translateY(-5px);
    transition: 0.4s ease;
    box-shadow: 0 12px 30px rgba(181, 107, 138, 0.15);
}




.objetivos{
    padding: 80px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objetivos-contenido{
    max-width: 900px;
    background: rgba(255, 174, 174, 0.8);
    backdrop-filter: blur(8px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border: 2px solid #ffe0bc;
}

.objetivos-contenido::before{
    content: "Objetivos";
    display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: #b56b8a;
    margin-bottom: 25px;
}

.objetivos-contenido p{
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.05rem;
}

.objetivos-contenido p:first-child{
    font-weight: 500;
}

.objetivos-contenido:hover{
    transform: translateY(-5px);
    transition: 0.4s ease;
    box-shadow: 0 12px 30px rgba(181, 107, 138, 0.15);
}
